@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Çağatay Erdoğdu Portfolio - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files  -->
    @*@Styles.Render("~/cssBundle/allstyles")*@
    @*@Scripts.Render("~/jsBunlde/allscripts")*@

    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: iPortfolio
    * Updated: Nov 17 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
    <body>

        <!-- ======= Mobile nav toggle button ======= -->
        <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

        <!-- ======= Header ======= -->
        <header id="header">
            <div class="d-flex flex-column">

                <div class="profile">
                    <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
                    <h1 class="text-light"><a href="index.html">Çağatay Erdoğdu</a></h1>
                    <div class="social-links mt-3 text-center">
                        <a href="https://twitter.com/ErdogduCagatay" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                        @*<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>*@
                        <a href="https://www.instagram.com/erdogducagatay/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                        @*<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>*@
                        <a href="https://www.linkedin.com/in/%C3%A7a%C4%9Fatay-erdo%C4%9Fdu-26a65a154/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

                <nav id="navbar" class="nav-menu navbar">
                    <ul>
                        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Anasayfa</span></a></li>
                        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Hakkımda</span></a></li>
                        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Durumum</span></a></li>
                        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portföy</span></a></li>
                        @*<li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Hizmetler</span></a></li>*@
                        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>İletişim</span></a></li>
                    </ul>
                </nav><!-- .nav-menu -->
            </div>
        </header><!-- End Header -->
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
            <div class="hero-container" data-aos="fade-in">
                <h1>Çağatay Erdoğdu</h1>
                <p>I'm <span class="typed" data-typed-items="Developer, Freelancer, Voyager"></span></p>
            </div>
        </section><!-- End Hero -->

        <main id="main">

            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container">

                    <div class="section-title">
                        <h2>Hakkımda</h2>
                        <p>
                            1987 doğumlu evli ve 2 çocuk babasıyım. Askerliğimi 2011 yılında kısa dönem olarak icra ettim.
                            Üniversite diplomamı İşletme fakültesinden temin ettim fakat bununla yetinmeyerek 2021 yılında
                            Yönetim Bilişim Sistemleri Fakültesine kayıt olarak alanımda bir diploma sahibi olmak adına eğitim
                            hayatına tekrar atıldım. Ekip çalışmasına yatkınlığımı çalıştığım şirketlerdeki uzun süreli çalışma
                            hayatım ile belirtebilirim. Aldığım her projeyi ya vaktinden önce yada vaktinde tamamlayarak bulunduğum ekiplerde
                            çok önemli ve aktif projeleri yönettim. Disiplinli, koordineli, planlı çalışmayı benimsiyorum.
                            Oldukça sabırlıyımdır, herhangi bir olay karşısında soğukkanlılıkla karar alabilir ve değişikliklere uyum sağlayabilirim.
                            Bu da sorumluluklarımı ciddiye alan zor ve görevlerden çekinmeyen biri olmamı yansıtıyor.
                            Çalışma hayatında esnek çalışma saatleri ve tamamen uzaktan çalışma modeli ile çalışmayı seviyorum. Bu sistem daha efektif, daha verimli çalışmama
                            olanak sağlıyor.
                        <p class="fst-italic">
                            <strong> Yapılan bir işte çözülemeyen bir konu yada yapılamaz denilen bir iş var ise o iş bana daha gelmemiş demektir.</strong>
                        </p>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-lg-4" data-aos="fade-right">
                            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                            <h3>Backend Developer &amp; ETL/DWH Developer</h3>
                            <p class="fst-italic">
                                Backend tarafında C# alt yapısı ile windows form, console ve API olarak pek çok projeye imza attım. ETL, ELT ve DWH yönetimi konusunda ise @(DateTime.Now.Year - 2016)+ yıllık tecrübe ile yüzlerce ETL projeyi geliştirdm, yönettim.
                            </p>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Doğum Tarihi:</strong> <span>12 Temmuz 1987</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.cagatayerdogdu.com</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Telefon:</strong> <span>+90536 585 40 24</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Şehir:</strong> <span>Ümraniye Çarşı, İSTANBUL</span></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Yaş:</strong> <span>37</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Derece:</strong> <span>Kıdemli</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>cagatayerdogdu@hotmail.com</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Ara sıra @*/ Now and Again*@</span></li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                @*Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                                Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.*@
                            </p>
                        </div>
                    </div>

                </div>
            </section><!-- End About Section -->
            <!-- ======= Facts Section ======= -->
            @*<section id="facts" class="facts">
                <div class="container">

                    <div class="section-title">
                        <h2>Facts</h2>
                        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                    </div>

                    <div class="row no-gutters">

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                            <div class="count-box">
                                <i class="bi bi-emoji-smile"></i>
                                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                                <p><strong>Happy Clients</strong> consequuntur quae</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="count-box">
                                <i class="bi bi-journal-richtext"></i>
                                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                                <p><strong>Projects</strong> adipisci atque cum quia aut</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                            <div class="count-box">
                                <i class="bi bi-headset"></i>
                                <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                                <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                            <div class="count-box">
                                <i class="bi bi-people"></i>
                                <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                                <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
                            </div>
                        </div>

                    </div>

                </div>
            </section>*@
            <!-- End Facts Section -->
            <!-- ======= Skills Section ======= -->
            <section id="skills" class="skills section-bg">
                <div class="container">

                    <div class="section-title">
                        <h2>Yetenekler</h2>
                        <p>Çalışma hayatımda yaptığım işlerde karşılaştığım sorunlarda edindiğim engin deneyimler ile yeni teknolojileri yakalayabilmek adına katıldığım eğitim programlarıyla yeteneklerimi her daim geliştirerek kendi kazanımlarımı sağlayarak devam ediyorum.</p>
                    </div>

                    <div class="row skills-content">

                        <div class="col-lg-6" data-aos="fade-up">

                            <div class="progress">
                                <span class="skill">SSIS <i class="val">99%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">T-SQL <i class="val">99%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">ETL/ELT <i class="val">99%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">DWH <i class="val">99%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">DATA SERVICES <i class="val">90%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">PL/SQL <i class="val">80%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                            <div class="progress">
                                <span class="skill">C# <i class="val">90%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">Entity Framework <i class="val">90%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">LINQ <i class="val">90%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">ADO.NET <i class="val">90%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">API <i class="val">90%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">ASP.NET MVC <i class="val">75%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">.NET CORE <i class="val">60%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">HTML <i class="val">50%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">CSS <i class="val">50%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">BOOTSTRAP <i class="val">50%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">JQUERY <i class="val">50%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">AJAX <i class="val">50%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">JAVASCRIPT <i class="val">50%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </section><!-- End Skills Section -->
            <!-- ======= Resume Section ======= -->
            <section id="resume" class="resume">
                <div class="container">

                    <div class="section-title">
                        <h2>Durumum</h2>
                        <p>Eğitim hayatım, uzmanlık alanlarımda yeni yetenekler kazanabilmek adına katıldığım eğitim programları ve profesyonel iş deneyimlerimi bu kısımda inceleyebilirsiniz.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6" data-aos="fade-up">
                            <h3 class="resume-title">Özetle</h3>
                            <div class="resume-item pb-0">
                                <h4>Çağatay Erdoğdu</h4>
                                <p><em>Çeşitli sektörlerde @(DateTime.Now.Year - 2010)+ yıldır bilişim tarafında Ar-Ge olarak yazılım tarafında geliştirme ve destek hizmetleri görevinde yer almaya devam ediyorum.</em></p>
                                <ul>
                                    <li>Çarşı, Ümraniye, İSTANBUL</li>
                                    <li>(536) 5854024</li>
                                    <li>cagatayerdogdu@hotmail.com</li>
                                </ul>
                            </div>

                            <h3 class="resume-title">Eğitim - Sertifika</h3>
                            <div class="resume-item">
                                <h4>Yönetİm BİLİşİm Sİstemlerİ Fakültesİ</h4>
                                <h5>2021 - Devam ediyor</h5>
                                <p><em>Anadolu Üniversitesi</em></p>
                                @*<p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>*@
                            </div>
                            <div class="resume-item">
                                <h4>İşletme Fakültesİ</h4>
                                <h5> 2005 - 2010</h5>
                                <p><em>Anadolu Üniversitesi</em></p>
                                @*<p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>*@
                            </div>
                            <div class="resume-item">
                                <h4>
                                    Asp.Net Core MVC
                                </h4>
                                <h5> 2023 </h5>
                                <p>BT Akademi</p>
                                <em></em>
                            </div>

                            <div class="resume-item">
                                <h4>
                                    Entity Framework & Nhibernate
                                </h4>
                                <h5> 2023 </h5>
                                <p>BT Akademi</p>
                                <em></em>
                            </div>

                            <div class="resume-item">
                                <h4>
                                    Advanced PostgreSQL Certificate
                                </h4>
                                <h5> 2022 </h5>
                                <p> Bilginç IT Academy</p>
                                <em></em>
                            </div>

                            <div class="resume-item">
                                <h4>
                                    Talend ETL Data Integration
                                </h4>
                                <h5> 2022 </h5>
                                <p> Kara Danışmanlık</p>
                                <em></em>
                            </div>

                            <div class="resume-item">
                                <h4>
                                    ASP.NET WEB API İle Yazılımcıların Bağımsızlığı
                                </h4>
                                <h5> 2022 </h5>
                                <p>Udemy</p>
                                <em></em>
                            </div>

                            <div class="resume-item">
                                <h4>
                                    SQL and PostgreSQL - The Complete Developers Guide
                                </h4>
                                <h5> 2022 </h5>
                                <p>Udemy</p>
                                <em></em>
                            </div>

                            <div class="resume-item">
                                <h4>
                                    PostgreSQL High Performance Tuning Guide
                                </h4>
                                <h5> 2022 </h5>
                                <p>Udemy</p>
                                <em></em>
                            </div>

                            <div class="resume-item">
                                <h4>
                                    PostgreSQL Eğİtİmİ - Sıfırdan İlerİ Sevİyeye (SQL_PLpgSQL)
                                </h4>
                                <h5> 2022 </h5>
                                <p>Udemy</p>
                                <em></em>
                            </div>

                            <div class="resume-item">
                                <h4>
                                    Asp.Net Core Web Api İle Web Service Oluşturma
                                </h4>
                                <h5> 2022 </h5>
                                <p>Udemy</p>
                                <em></em>
                            </div>

                            <div class="resume-item">
                                <h4>
                                    Python Makİne Öğrenmesİ
                                </h4>
                                <h5> 2021 </h5>
                                <p>Udemy</p>
                                <em></em>
                            </div>

                            <div class="resume-item">
                                <h4>
                                    SSIS Eğİtİm Vİdeosu Serİsİ
                                </h4>
                                <h5> 2021 </h5>
                                <p>Udemy</p>
                                <em></em>
                            </div>


                        </div>
                        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="resume-title">Profesyonel Deneyim (@(DateTime.Now.Year- 2010)+ Yıl)</h3>
                            <div class="resume-item">
                                <h4> Kıdemlİ DWH / ETL Gelİştİrİcİ </h4>
                                <h5>2021 - Devam ediyor.</h5>
                                <p><em>PayCore Yazılım A.Ş. </em></p>
                                <ul>
                                    <li>DWH geliştirmelerini yapmak ve yönetmek</li>
                                    <li>MS SSIS (Integration Service) ile ETL projeleri geliştirmek, yönetmek </li>
                                    <li>Gerekli SP, View gibi nesneler geliştirerek ETL süreçlerini aktif halde ve güncel tutmak</li>
                                    <li>C# ile api geliştirerek bu api ler ile veri entegrasyonu sağlamak</li>
                                    <li>API ler ile alınan verileri SSIS yada SP ile ETL sürecinden geçirerek DWH tarafında depolamak, veri entegrasyonu sağlamak</li>
                                    <li>Daha önceden geliştirilen exe lerin bakımı ve revize geliştirmelerini yapmak</li>
                                    <li>.Net ile yeni projeler geliştirmek</li>
                                </ul>
                            </div>
                            <div class="resume-item">
                                <h4> Kıdemlİ DWH / ETL Gelİştİrİcİ </h4>
                                <h5>2020 - 2021</h5>
                                <p><em>Ford Otosan Otomotiv A.Ş.</em></p>
                                <ul>
                                    <li>SAP Data Services ile ETL surecini yönetmek</li>
                                    <li>Oracle veritabanindan alnan PL/SQL scriptleri SYBASE veritabanında kullanılan tablolar için convert ederek gerekli SQL geliştirmelerini yapmak</li>
                                </ul>
                            </div>


                            <div class="resume-item">
                                <h4> Verİtabanı Yönetİcİsİ  </h4>
                                <h5>2017 - 2020</h5>
                                <p><em>TatilSepeti.com</em></p>
                                <ul>
                                    <li>DWH geliştirmelerini yapmak</li>
                                    <li>MS SSIS (Integration Service) ile ETL projeleri geliştirmek, yönetmek </li>
                                    <li>Gerekli SP, View gibi nesneler geliştirerek ETL süreçlerini aktif halde ve güncel tutmak</li>
                                    <li>Veri replikasyonu, yedekleme, güvenlik konularının geliştirmesi, yönetilmesi, datawarehouse (dwh) yönetilmesi</li>
                                    <li>C# ile api geliştirerek bu api ler ile veri entegrasyonu sağlamak</li>
                                    <li>API ler ile alınan verileri SSIS yada SP ile ETL sürecinden geçirerek DWH tarafında depolamak, veri entegrasyonu sağlamak</li>
                                    <li>.Net ile yeni projeler geliştirmek</li>
                                    <li>Index yönetimi, scheduled backup alma, job yönetimi, table partitioning işlemleri gerçeklestirmek</li>
                                </ul>
                            </div>


                            <div class="resume-item">
                                <h4> Yazılım Proje Sorumlusu </h4>
                                <h5>2013 - 2017</h5>
                                <p><em>Promaks Yazılım A.Ş.</em></p>
                                <ul>
                                    <li>Şirket içi projelerin takibi</li>
                                    <li>Ekip liderliği</li>
                                    <li>Müşterilere özel, ASP.NET ve C# Windows Form ile proje geliştirmek</li>
                                    <li>T-SQL, Store Procedure ve View ile raporlamalar gelistirmek</li>
                                    <li>SharePoint ve Microsoft CRM ile planlama yapmak</li>
                                    <li>
                                        Mavi Jeans, Little Big, Panço v.b mağazacılık sektörünün önde gelen
                                        firmaları ve Petrol Ofisi, TOTAL, Shell, BP ve benzeri akaryakıt şirketlerinin veri tabanı
                                        yapılandırmalarını yapmak
                                    </li>
                                    <li>Index yönetimi, scheduled backup alma, job yönetimi, table partitioning işlemleri gerçeklestirmek</li>
                                </ul>
                            </div>


                            <div class="resume-item">
                                <h4> Yazılım Destek Uzmanı </h4>
                                <h5>2011 - 2013</h5>
                                <p><em> Özel Memorial Hastanesi </em></p>
                                <ul>
                                    <li>C# ile hastane içi program geliştirmek, revizelerini yapmak</li>
                                    <li>T-SQL sorguları ile veritabanı işlemleri yapmak</li>
                                    <li>Hastane yazılımı konusunda eğitim vermek</li>
                                    <li>Yazılımsal sorunları gidermek, yazılımın yeni versiyonlarını test etmek ve versiyonları güncellemek</li>
                                </ul>
                            </div>

                            <div class="resume-item">
                                <h4> Bİlgİ İşlem Sorumlusu </h4>
                                <h5>2010 - 2010</h5>
                                <p><em>Üsküdar Devlet Hastanesİ</em></p>
                                <ul>
                                    <li>T-SQL sorguları ile veritabanı işlemleri yapmak</li>
                                    <li>Bilgisayar Sistem Destek işleri</li>
                                    <li>Windows Yazılım Sorunları Destek işleri</li>
                                    <li>Yazılımsal sorunları gidermek, yazılımın yeni versiyonlarını test etmek ve versiyonları güncellemek</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </section><!-- End Resume Section -->
            <!-- ======= Portfolio Section ======= -->
            <section id="portfolio" class="portfolio section-bg">
                <div class="container">

                    <div class="section-title">
                        <h2>Portföy</h2>
                        <p>Geliştirdiğim projelerin bir kaçından bazı örnekler...</p>
                    </div>

                    <div class="row" data-aos="fade-up">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".filter-app">App</li>
                                <li data-filter=".filter-etl">ETL/ELT</li>
                                <li data-filter=".filter-sql">SQL</li>
                                <li data-filter=".filter-web">WEB</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                        <!----------------Portfolio------------------>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/software/ssyntm1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/software/ssyntm1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MANAGEMENT PANEL"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-etl">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/etl/ssis_tm_webapi.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/etl/ssis_tm_webapi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="SSIS WEB API ETL"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-sql">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/sqlQuery/db_query1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/sqlQuery/db_query1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="T-SQL"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/portfolio/web/MarkaKafa1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/web/MarkaKafa1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MarKa Kafa Web Sitesi"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <!----------------Portfolio------------------>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/software/plicnsl.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/software/plicnsl.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PLIConsole EXE"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-etl">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/etl/ssis_pzrlmadepthedf.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/etl/ssis_pzrlmadepthedf.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="SSIS UNPIVOT ETL"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-sql">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/sqlQuery/db_query3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/sqlQuery/db_query3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="T-SQL in HTML"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/portfolio/web/MarkaKafa2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/web/MarkaKafa2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MarKa Kafa Web Sitesi"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <!----------------Portfolio------------------>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/software/clrhs1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/software/clrhs1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web API"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-etl">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/etl/ssis_kartinfo.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/etl/ssis_kartinfo.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="SSIS CARD INFO ETL"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-sql">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/sqlQuery/db_query5.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/sqlQuery/db_query5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="T-SQL in STORE PROCEDURE"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/portfolio/web/MarkaKafaCode1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/web/MarkaKafaCode1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MarKa Kafa Web Sitesi"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <!----------------Portfolio------------------>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/software/spy2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/software/spy2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="REST API"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-etl">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/etl/DS/1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/etl/DS/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="DATA SERVICES ETL JOB"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-sql">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/sqlQuery/db_query_sybase.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/sqlQuery/db_query_sybase.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="SYBASE PLSQL"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/portfolio/web/webHukuk1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/web/webHukuk1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Hukuk Web Sitesi"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <!----------------Portfolio------------------>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-etl">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/etl/DS/2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/etl/DS/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="DATA SERVICES ETL DATA FLOW"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/portfolio/web/webHukukCode1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/web/webHukukCode1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Hukuk Web Sitesi"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Portfolio Section -->
            <!-- ======= Services Section ======= -->
            @*<section id="services" class="services">
                <div class="container">

                    <div class="section-title">
                        <h2>Hizmetler</h2>
                        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                            <div class="icon"><i class="bi bi-briefcase"></i></div>
                            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="bi bi-card-checklist"></i></div>
                            <h4 class="title"><a href="">Dolor Sitema</a></h4>
                            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="bi bi-bar-chart"></i></div>
                            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon"><i class="bi bi-binoculars"></i></div>
                            <h4 class="title"><a href="">Magni Dolores</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon"><i class="bi bi-brightness-high"></i></div>
                            <h4 class="title"><a href="">Nemo Enim</a></h4>
                            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>
                    </div>

                </div>
            </section>*@
            <!-- End Services Section -->
            <!-- ======= Testimonials Section ======= -->
            <!--<section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                            </div>
                        </div>-->
            <!-- End testimonial item -->
            <!--<div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
            </div>
        </div>-->
            <!-- End testimonial item -->
            <!--<div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
            </div>
        </div>-->
            <!-- End testimonial item -->
            <!--<div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
            </div>
        </div>-->
            <!-- End testimonial item -->
            <!--<div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
            </div>
        </div>-->
            <!-- End testimonial item -->
            <!--</div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>-->
            <!-- End Testimonials Section -->
            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">
                <div class="container">

                    <div class="section-title">
                        <h2>İletişim</h2>
                        @*<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
                    </div>

                    <div class="row" data-aos="fade-in">

                        <div class="col-lg-5 d-flex align-items-stretch">
                            <div class="info">
                                <div class="address">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>Konum:</h4>
                                    <p>Ümraniye Çarşı, İstanbul, TÜRKİYE</p>
                                </div>

                                <div class="email">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>cagatayerdogdu@hotmail.com</p>
                                </div>

                                <div class="phone">
                                    <i class="bi bi-phone"></i>
                                    <h4>Telefon:</h4>
                                    <p>+90536 585 40 24</p>
                                </div>

                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d752.5072320429318!2d29.092281676981486!3d41.02462305120266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac8f6308e5a55%3A0x17462620456a653d!2zQXRhdMO8cmssIEF0YXTDvHJrIE1haCBZZcWfaWwgU2sgTWVkaW5lIENhbWkgTm86MTIsIDM0NzY0IMOcbXJhbml5ZS_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1704914809678!5m2!1str!2str" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Adınız Soyadınız</label>
                                        <input type="text" name="name" class="form-control" id="name" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="name">Mail Adresiniz</label>
                                        <input type="email" class="form-control" name="email" id="email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name">Konu</label>
                                    <input type="text" class="form-control" name="subject" id="subject" required>
                                </div>
                                <div class="form-group">
                                    <label for="name">Mesaj</label>
                                    <textarea class="form-control" name="message" rows="10" required></textarea>
                                </div>
                                <div class="my-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Mesajınız gönderildi. Teşekkür ederim!</div>
                                </div>
                                <div class="text-center"><button type="submit">Mesajı Gönder</button></div>
                            </form>
                        </div>

                    </div>

                </div>
            </section><!-- End Contact Section -->

        </main><!-- End #main -->
        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="container">
                <div class="copyright">

                    <!--<strong><span>Her hakkı saklıdır.&copy;--> <!--Copyright --> <!--@DateTime.Now.Year </span></strong> <br />-->
                    <strong>
                        <span>
                            © @DateTime.Now.Year Her hakkı saklıdır. <!--Copyright © 2024 - @DateTime.Now.Year Tüm hakları saklıdır.-->
                        </span>
                    </strong>
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
                    Developer by <a href="#">Çağatay Erdoğdu</a>
                </div>
            </div>
        </footer><!-- End  Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="assets/vendor/aos/aos.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="assets/vendor/typed.js/typed.umd.js"></script>
        <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>


    </body>
</html>
